<nav class="navbar justify-content-end smallwidtop navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <a class="navbar-brand" href="#">Students</a>
  <a class="navbar-brand" href="#">Faculty</a>
  <a class="navbar-brand" href="#">Library</a>
  <a class="navbar-brand" href="#">Calendar</a>
  <a class="navbar-brand" href="#">Contact us</a>
  <form class="form-inline my-3 my-lg-1">
    <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search">
    <button class="fa fa-search" type="submit"></button>

  </form>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img width=300px; src="../assets/White_NFU_logo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<nav style="display: flex;
justify-content:center; " class="navbar navbar-expand-lg navbar-light bg-light">

  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ABOUT US
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between; text-align: center">
        <div class="abba  ">
          <img width=180px; height=130px; src="../assets/b1.jfif" href="#">
          <a class="dropdown-item" href="#">Infrastructure</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa2.jpg">
          <a class="dropdown-item" href="#">Ranking</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/b3.jfif">
          <a class="dropdown-item" href="#">Vision and Mission</a>
        </div>
      </div>
    </div>
  </nav>

  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ADMISSION
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between; text-align: center">
        <div class="abba  ">
          <img width=180px; height=130px; src="../assets/aa1.jfif" href="#">
          <a class="dropdown-item" href="#">Local Admission</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa2.jpg">
          <a class="dropdown-item" href="#">International Admission</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">Student Mobility</a>
        </div>
      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ACADEMICS
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between;">
        <div class="abba  ">

          <a class="dropdown-item" href="#">College of Engineering</a>
          <a class="dropdown-item" href="#">College of Electrical and Computer Engineering</a>
          <a class="dropdown-item" href="#">College of Management</a>
          <a class="dropdown-item" href="#">College of Applied Arts and Sciences</a>
          <a class="dropdown-item" href="#">College of General Education</a>
          <a class="dropdown-item" href="#">Language Training Center</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa4.jfif">
          <a class="dropdown-item" href="#">Departments</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa1.jfif">
          <a class="dropdown-item" href="#">Faculty Directory</a>
        </div>
      </div>
    </div>
  </nav>

  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      RESEARCH
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between;">

        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">Academic Research</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa2.jpg">
          <a class="dropdown-item" href="#">Funded Research</a>
        </div>
        <div class="abba  ">

          <a class="dropdown-item" href="#">NFU Research and Development</a>
          <a class="dropdown-item" href="#">Research center</a>
          <a class="dropdown-item" href="#">International Outreach and Co-operation</a>
          <a class="dropdown-item" href="#">NFU Learning Institution</a>
          <a class="dropdown-item" href="#">NFU Development Strategy</a>

        </div>
      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CAMPUS LIFE
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between; text-align: center">
        <div class="abba  ">
          <img width=180px; height=130px; src="../assets/aa1.jfif" href="#">
          <a class="dropdown-item" href="#">Athletics and Sports</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">International Admission</a>
        </div>

      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a style="color:white" ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ADMINISTRATION
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">President's Office</a>
      <a class="dropdown-item" href="#">Vice-President's Office</a>
      <a class="dropdown-item" href="#">Academic affairs division</a>
      <a class="dropdown-item" href="#">Student affairs division</a>
      <a class="dropdown-item" href="#">General affairs</a>
    </div>
  </nav>
</nav>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #003e71">

  <div style=" color:white; background-color: #003e71;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 style="color:white" class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div style="color: white" class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <img width=220px; src="../assets/White_NFU_logo.png">
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <br>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Research Club</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Students Club</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Sports Club</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Aero Club</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Information</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Students link</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Teacher link</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Latest Updates</a>
        </p>
        <p>
          <a class="dark-grey-text" style="color:white" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <p style="text-align: justify">
          No. 64, Wenhua Road,<br> Huwei Township,<br> Yunlin County,<br> Taiwan-632</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@nfu.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i>886-5-6315000</p>
        <p>
          <i class="fa fa-print mr-3"></i> 886-5-6315000</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <a class="dark-grey-text">National Formosa University</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


