<nav class="navbar justify-content-end smallwidtop navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <a class="navbar-brand" href="#">Students</a>
  <a class="navbar-brand" href="#">Faculty</a>
  <a class="navbar-brand" href="#">Library</a>
  <a class="navbar-brand" href="#">Calendar</a>
  <a class="navbar-brand" href="#">Contact us</a>
  <form class="form-inline my-3 my-lg-1">
    <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search">
    <button class="fa fa-search" type="submit"></button>

  </form>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img width=300px; src="../assets/nfuLogo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<nav style="display: flex;
justify-content: space-evenly; " class="navbar navbar-expand-lg navbar-light bg-light">



  <nav ngbDropdown class="nav-item dropdown">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ADMISSION
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between; text-align: center">
        <div class="abba  ">
          <img width=180px; height=130px; src="../assets/aa1.jfif" href="#">
          <a class="dropdown-item" href="#">Local Admission</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa2.jpg">
          <a class="dropdown-item" href="#">International Admission</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">Student Mobility</a>
        </div>
      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ACADEMICS
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between;">
        <div class="abba  ">

          <a class="dropdown-item" href="#">College of Engineering</a>
          <a class="dropdown-item" href="#">College of Electrical and Computer Engineering</a>
          <a class="dropdown-item" href="#">College of Management</a>
          <a class="dropdown-item" href="#">College of Applied Arts and Sciences</a>
          <a class="dropdown-item" href="#">College of General Education</a>
          <a class="dropdown-item" href="#">Language Training Center</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa4.jfif">
          <a class="dropdown-item" href="#">Departments</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa1.jfif">
          <a class="dropdown-item" href="#">Faculty Directory</a>
        </div>
      </div>
    </div>
  </nav>

  <nav ngbDropdown class="nav-item dropdown">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      RESEARCH
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between;">

        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">Academic Research</a>
        </div>
        <div class="abba" style="text-align:center">
          <img width=180px; height=130px; src="../assets/aa2.jpg">
          <a class="dropdown-item" href="#">Funded Research</a>
        </div>
        <div class="abba  ">

          <a class="dropdown-item" href="#">NFU Research and Development</a>
          <a class="dropdown-item" href="#">Research center</a>
          <a class="dropdown-item" href="#">International Outreach and Co-operation</a>
          <a class="dropdown-item" href="#">NFU Learning Institution</a>
          <a class="dropdown-item" href="#">NFU Development Strategy</a>

        </div>
      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      CAMPUS LIFE
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div style="display: flex; justify-content: space-between; text-align: center">
        <div class="abba  ">
          <img width=180px; height=130px; src="../assets/aa1.jfif" href="#">
          <a class="dropdown-item" href="#">Athletics and Sports</a>
        </div>
        <div class="abba">
          <img width=180px; height=130px; src="../assets/aa3.jpg">
          <a class="dropdown-item" href="#">International Admission</a>
        </div>

      </div>
    </div>
  </nav>
  <nav ngbDropdown class="nav-item dropdown">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ADMINISTRATION
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">President's Office</a>
      <a class="dropdown-item" href="#">Vice-President's Office</a>
      <a class="dropdown-item" href="#">Academic affairs division</a>
      <a class="dropdown-item" href="#">Student affairs division</a>
      <a class="dropdown-item" href="#">General affairs</a>
    </div>
  </nav>
</nav>
<ngb-carousel>
  <!--*ngIf="images"-->
  <ng-template ngbSlide>
    <img width="100%" height="500px" src="../assets/5.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Sub content</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img width="100%" height="500px" src="../assets/6.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Sub content.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img width="100%" height="500px" src="../assets/7.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Sub content.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">

  <br>

  <!-- Marketing Icons Section -->
  <div class=" row">
    <div class="col-lg-8 mb-4">
      <div class="anouncolor card h-150">
        <h4 style="padding-left:10px; color:orange;">Important Announcements</h4>
        <ul>
          <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the achievements
            of the Paradigm Technology University Project.</li>
          <li>Department of Electrical Engineering (EE) won an outstanding achievement from 2015 National Integrated
            Circuit Design Contest</li>
          <li>National Formosa University (NFU) signs Strategic Alliances with enterprise connecting from school to
            work</li>
        </ul>
      </div>
    </div>

    <div style="margin-left: 45px" class="card ">
      <div class="container">
        <div class="row">
          <div class="span12">
            <table class="table-condensed table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="7">
                    <span class="btn-group">

                      <a class="btn active">February 2018</a>
                    </span>
                  </th>
                </tr>
                <tr>
                  <th>Su</th>
                  <th>Mo</th>
                  <th>Tu</th>
                  <th>We</th>
                  <th>Th</th>
                  <th>Fr</th>
                  <th>Sa</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="muted">29</td>
                  <td class="muted">30</td>
                  <td class="muted">31</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td class="btn-primary"><strong>20</strong></td>
                  <td>21</td>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td>29</td>
                  <td class="muted">1</td>
                  <td class="muted">2</td>
                  <td class="muted">3</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <br>

      <!-- Marketing Icons Section -->
      <div class=" row">
        <div class="col-lg-3 mb-4">
          <div class="anouncolor card h-150">
            <h4 style="padding-left:10px; color:orange;">Quick Links</h4>
            <ul>
              <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the
                achievements of the Paradigm Technology University Project.</li>

            </ul>
          </div>
        </div>

        <div class="col-lg-5 mb-4">
          <div class="anouncolor card h-150">
            <h4 style="padding-left:10px; color:orange;">NFU News</h4>
            <ul>
              <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the
                achievements of the Paradigm Technology University Project.</li>
              <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the
                achievements of the Paradigm Technology University Project.</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 mb-4">
          <div class="anouncolor card h-150">
            <h4 style="padding-left:10px; color:orange;">Events</h4>
            <ul>
              <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the
                achievements of the Paradigm Technology University Project.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container;" style="padding:5px;display: flex; background-color:rebeccapurple;">
  <br>

  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o2Gg8U9neFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div style="padding-left: 20px;">
    <br>
    <!-- <a style="font-size: 35px;" href="https://www.youtube.com/user/NFUacademic/videos">Video Gallery</a> -->
    <a href="https://www.youtube.com/user/NFUacademic/videos">
      <div class="link">
        <h2>Video Gallery</h2>
      </div>
    </a>
    <br>
    Taiwan has a truly unique natural beauty. The subtropical volcanic island is more than 70% towering, jagged
    mountains that in some places rise nearly straight out of the Pacific Ocean.
  </div>
</div>

<div class="container;" style="padding:5px;display: flex; background-color:pink">
  <br>

  <div style="padding-left: 20px;">
    <br>
    <a href="#">
      <div class="link">
        <h2>Photo Gallery</h2>
      </div>
    </a>
    <br>

    To be a top-class university of technology with characteristics that stress humanity and broad-spectrum education.
    To stress the importance of quality in teaching, research, and services to industry. To deliver general education
    in order to underpin students’ professional knowledge and skills.
  </div>
  <div>
    <img width="560" height="315" src="../assets/aa3.jpg">
  </div>


</div>
<div style="background-color: pink">
  <br>
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #28447a">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div style = "color: white" class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <img width=220px; src="../assets/nfuLogo.png">
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Research Club</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Students Club</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Sports Club</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Aero Club</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Information</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Students link</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Teacher link</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Latest Updates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        
        <p style="text-align: justify">
           No. 64, Wenhua Road,<br> Huwei Township,<br> Yunlin County,<br> Taiwan-632</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@nfu.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i>886-5-6315000</p>
        <p>
          <i class="fa fa-print mr-3"></i> 886-5-6315000</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <a class="dark-grey-text">National Formosa University</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->