<div>
  <ngb-carousel>
    <!--*ngIf="images"-->
    <ng-template ngbSlide>
      <img width="100%" height="500px" src="../../assets/5.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Sub content</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img width="100%" height="500px" src="../../assets/6.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Sub content.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img width="100%" height="500px" src="../../assets/7.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Sub content.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container">

  <br>

  <!-- Marketing Icons Section -->
  <div class=" row">
    <div class="col-lg-9 mb-4">
      <div class="anouncolor card h-150">
        <h4 style="padding-left:10px; color:#e48b17;">Important Announcements</h4>
        <ul>
          <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the achievements
            of the Paradigm Technology University Project.</li>
          <li>Department of Electrical Engineering (EE) won an outstanding achievement from 2015 National Integrated
            Circuit Design Contest</li>
          <li>National Formosa University (NFU) signs Strategic Alliances with enterprise connecting from school to
            work</li>
          <li>National Formosa University (NFU) signs Strategic Alliances with enterprise connecting from school to
            work</li>

        </ul>
      </div>
    </div>



    <div class="row" style="margin-left: 20px">
      <div class="span12">
        <table class="table-condensed table-bordered table-striped">
          <thead>
            <tr>
              <th colspan="7">
                <span class="btn-group">

                  <a class="btn active">February 2018</a>
                </span>
              </th>
            </tr>
            <tr>
              <th>Su</th>
              <th>Mo</th>
              <th>Tu</th>
              <th>We</th>
              <th>Th</th>
              <th>Fr</th>
              <th>Sa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="muted">29</td>
              <td class="muted">30</td>
              <td class="muted">31</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
            </tr>
            <tr>
              <td>19</td>
              <td class="btn-primary"><strong>20</strong></td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
            </tr>
            <tr>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td class="muted">1</td>
              <td class="muted">2</td>
              <td class="muted">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="container">

      <br>

      <!-- Marketing Icons Section -->
      <div class=" row">
        <div class="col-lg-3 mb-4 h-150">
          <div class="card">
            <img class="card-img-top" src="../assets/b12.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bags third Place in Drone Competition</h5>
              <p class="card-text">Quick sample text to create the card title and make up the body of the card's
                content.</p>
              <a href="/news1" style="float:right" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <div style=" padding-left: 15px;" class="col-lg-6 mb-4">
          <img style="height: 160px; width: 550px;" class="img-fluid" src="../../assets/b13.jfif">
          <div style=" position: absolute;
          bottom: 270px;
          right: 20px;
          background-color: white;
          color: #003e71;
          width: 200px;
          border-radius: 10px;
          align-items: center;
          text-align: center;
          "
            class="text-block">
            <h4>Hackathon</h4>
            <p>NFU is a beautiful place</p>
            <a href="/news2">
              <div class="link ">
                <p style="padding-right: 10px; text-align: end; color:#003e71">Read More</p>
              </div>
            </a>
          </div>
          <div style="padding-top: 20px;">
          <img style="height: 160px; width: 550px;" class="img-fluid" src="../../assets/b9.jfif">
          <div style=" position: absolute;
          bottom: 70px;
          right: 20px;
          background-color: white;
          color: #003e71;
          width: 200px;
          border-radius: 10px;
          align-items: center;
          text-align: center;
          "
            class="text-block">
            <h4>SPORTS</h4>
            <p>World is a beautiful place</p>
            <a href="/news3"  >
              <div class="link">
                <p style="padding-right: 10px; text-align: end; color:#003e71">Read More</p>
              </div>
            </a>
          </div>
          <div style="float:right; padding-top: 8px; padding-right: 4px;">
          <a href="/newslist" class="btn btn-primary">More News</a>
        </div>
        </div>
        </div>


        <div class="col-lg-3 mb-4">
          <div style="width: 180px; height: 388px;" class="anouncolor card h-150">
            <h4 style="padding-left:10px; color:#e48b17;">Events</h4>
            <ul>
              <li> Minister She-Wa Wu of the Ministry of Education visited National Formosa University for the
                achievements of the Paradigm Technology University Project.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section style="border: solid 20px red;" id="gallery">
  <div style="border:blue 5px;" class="thumbnail">
    <div class="img-container"><a href=""><img src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
          alt="..." />
        <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
      </a></div>
  </div>
  <div class="thumbnail ">
    <div class="img-container"><img src="https://41.media.tumblr.com/21bb8666deab37f6d49724d1b795ad61/tumblr_nxrgsrYO5Q1sfie3io1_1280.jpg"
        alt="..." />
      <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="img-container"><img src="https://36.media.tumblr.com/838c3355f7af5efb810118319886cc4d/tumblr_nxk0gn1oAF1sfie3io1_1280.jpg"
        alt="..." />
      <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="img-container"><img src="https://40.media.tumblr.com/63f6e4872c0e3e9337c076a9db2b800f/tumblr_nxk0ghO9br1sfie3io1_1280.jpg"
        alt="..." />
      <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="img-container"><img src="https://40.media.tumblr.com/1737973fac23511856e8f44c24497cf7/tumblr_nvup8h1pon1sfie3io1_1280.jpg"
        alt="..." />
      <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="img-container"><img src="https://40.media.tumblr.com/565c0d8da9d4f5fca0bba083ee43171b/tumblr_nvuozamnbR1sfie3io1_1280.jpg"
        alt="..." />
      <div class="img-caption table"><span class="table-cell"><button class="btn btn-p btn-trans" role="button">more</button></span></div>
    </div>
  </div>


</section> -->




<div class="container;" style="padding:5px; ">
  <div class="container">
    <br>
    <div class=" row">
      <br>
      <div class="col-lg-7 mb-4">

        <div>
          <iframe width="535" height="365" src="https://www.youtube.com/embed/o2Gg8U9neFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 mb-4">

        <div style="padding-left: 15px; color:#003e71">
          <br>
          <!-- <a style="font-size: 35px;" href="https://www.youtube.com/user/NFUacademic/videos">Video Gallery</a> -->
          <a href="https://www.youtube.com/user/NFUacademic/videos">
            <div class="link ">
              <h2 style="color:#003e71">Video Gallery</h2>
            </div>
          </a>
          <br>
          Taiwan has a truly unique natural beauty. The subtropical volcanic island is more than 70% towering, jagged
          mountains that in some places rise nearly straight out of the Pacific Ocean.
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container;" style="padding:5px; ">
  <div class="container">
    <br>
    <div class=" row">
      <br>
      <div class="col-lg-4 mb-4">

        <div style="padding-left: 20px; color:#003e71">
          <br>
          <!-- <a style="font-size: 35px;" href="https://www.youtube.com/user/NFUacademic/videos">Video Gallery</a> -->
          <a>
            <div>
              <h2 style="color:#003e71">Picture Gallery</h2>
            </div>
          </a>
          <br>
          Taiwan has a truly unique natural beauty. The subtropical volcanic island is more than 70% towering, jagged
          mountains that in some places rise nearly straight out of the Pacific Ocean.
        </div>
      </div>
      <div class="col-lg-7 mb-4">

        <div>
          <ngx-gallery style=" justify-content:center; padding-right: 25px" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>

    </div>
  </div>
</div>