<div class="col-lg-11 mb-4" style="padding-top:15px; padding-left: 80px;">
  <div class="anouncolor  h-150" style=" display:flex">
    <img style="padding:5px;" src="../../assets/b12.jfif" height="150px" width="200px">
    <div style="padding: 15px;">
      <a href="/news1">
        <div class="link ">
          <h2 style="color:#003e71">Bags third Place in Drone Competition
          </h2>
        </div>
      </a>
      <p>
        This higher education institution was founded in 1980 as National Yunlin Institute of Technology, with Dr
        Tien-Chin Chang appointed as the first president.
      </p>
    </div>
  </div>
</div>

<div class="col-lg-11 mb-4" style="padding-top:15px; padding-left: 80px;">
    <div class="anouncolor  h-150" style=" display:flex">
      <img style="padding:5px;" src="../../assets/b13.jfif" height="150px" width="200px">
      <div style="padding: 15px;">
        <a href="/news2">
          <div class="link ">
            <h2 style="color:#003e71">Programming Hackathon
            </h2>
          </div>
        </a>
        <p>
          This higher education institution was founded in 1980 as National Yunlin Institute of Technology, with Dr
          Tien-Chin Chang appointed as the first president.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-11 mb-4" style="padding-top:15px; padding-left: 80px;">
      <div class="anouncolor  h-150" style=" display:flex">
        <img style="padding:5px;" src="../../assets/b10.jfif" height="150px" width="200px">
        <div style="padding: 15px;">
          <a href="/news3">
            <div class="link ">
              <h2 style="color:#003e71">Sports
              </h2>
            </div>
          </a>
          <p>
            This higher education institution was founded in 1980 as National Yunlin Institute of Technology, with Dr
            Tien-Chin Chang appointed as the first president.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-11 mb-4" style="padding-top:15px; padding-left: 80px;">
  <div class="anouncolor  h-150" style=" display:flex">
    <img style="padding:5px;" src="../../assets/b7.jpg" height="150px" width="200px">
    <div style="padding: 15px;">
      <a href="/newslist">
        <div class="link ">
          <h2 style="color:#003e71">Additional
          </h2>
        </div>
      </a>
      <p>
        This higher education institution was founded in 1980 as National Yunlin Institute of Technology, with Dr
        Tien-Chin Chang appointed as the first president.
      </p>
    </div>
  </div>
</div>