<div style=" padding-left: 100px; padding-top:30px; padding-bottom:30px;">
  <img style="width: 1150px; height:300px; justify-content: center;" src="../../assets/b12.jfif">
  <div style="padding-left:200px;" >
    <br>
    <h1>Bags third Place in Drone Competition</h1>
    <br>
<div style="display: flex"class="row">
    <div class="column" >
      
      <p>This higher education institution was founded in 1980 as National Yunlin Institute of Technology, with Dr Tien-Chin Chang appointed as the first president. The school was restructured as National Huwei Institute of Technology in 1997 and then expanded into National Formosa University (NFU) in 2004. NFU, a polytechnic institute, has been focusing on industry application and dedicated to quality education; therefore, it has been recognized as one of the favorite universities among students and entrepreneurs in Taiwan.</p>
    </div>
    <div style="padding-right: 30px;" class="column">

      <p>Currently, there are 4 colleges, 19 departments, 18 master’s degree programs, and 2 doctoral degree programs in NFU, and the total number of enrolled students is more than 10,000. To realize our educational philosophy of student-centered teaching and learning, NFU has taken substantial measures, such as strengthening teaching resources, advancing general education, enhancing students’ English proficiency, developing international academic exchange and cooperation, constructing a learning environment that supports quality life and leisure activities, and hosting a wide range of cultural activities and art exhibitions to create a campus atmosphere of arts and humanities. Through these efforts, we hope to educate our students to become top notch talents,</p>
    </div>
  </div>
  
  </div>
</div>